<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <app-game-control (intervalFired)="onintervalFired($event)">
      </app-game-control>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-3" style="background-color:lightgray;">
      <h5> Odd Numbers: </h5>
      <app-odd *ngFor="let CounterOddElement of CounterOddElements">

        <p>
          <strong style="color: blue">{{ CounterOddElement }}</strong>
        </p>
      </app-odd>
    </div>
    <div class="col-xs-3" style="background-color:lightcyan;">
      <h5> Even Numbers: </h5>
      <app-even *ngFor="let CounterEvenElement of CounterEvenElements">

        <p>
          <strong style="color: red">{{ CounterEvenElement }}</strong>
        </p>
      </app-even>
    </div>
  </div>